<%- include ../partials/header.ejs %>
 <%- include ../partials/main_nav.ejs %>
<main class="container">
<div class="row">
    <h1><%=title%> </h1>
    <form class="form" method="POST">
        <div class="form-group">
            <label for="nameTextField">Book Title</label>
            <input type="text" class="form-control"
            id="nameTextField"
            placeholder="Enter the Book Title"
            name="name" required>
        </div>


        <div class="form-group">
            <label for="authorTextField">Author</label>
            <input type="text" class="form-control"
            id="authorTextField"
            placeholder="Enter the Author Name"
            name="author" required>
        </div>

        <div class="form-group">
            <label for="publishedTextField">Year</label>
            <input type="text" class="form-control"
            id="publishedTextField"
            placeholder="Enter the Year Published"
            name="published" required>
        </div>

        <div class="form-group">
            <label for="descriptionTextField">Description</label>
            <textarea class="form-control"
            id="descriptionTextField"
            placeholder="Enter the Book Description"
            name="description" required></textarea>
        </div>

        <div class="form-group">
            <label for="priceTextField">Price</label>
            <input type="text" class="form-control"
            id="priceTextField"
            placeholder="Enter the Book Price"
            name="price" required>
        </div>
          
          
        </div>
        
        
        <button type="submit" class="btn btn-primary"><i class="fas fa-edit"></i>Submit</button>
        <a href="/book-list" class="btn btn-warning"><i class="fas fa-undo"></i>Cancel</a>
      </form>
</div>
</main>




 <%- include ../partials/bottom_nav.ejs %>
 <%- include ../partials/footer.ejs %>